.wrapper {
  display: flex;
  flex-flow: column;
  align-items: space-evenly;
  width: 100vw;
  /* height: 100vh; */
  /* height: calc(100vh / 5); */
  height: 100%;
  background-color: #1e1e1e;
}

.wrapper > div {
  flex-grow: 1;
}

.mission_announcement {
  background-color: var(--app-white);
  display: flex;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20;
}

.mission_announcement img {
  width: 7.5%;
  position: absolute;
  top: 0;
  left: 0rem;
  z-index: 999;
}

.mission_announcement h1 {
  background: linear-gradient(90.53deg, #dc82fb -25.13%, #f49867 107.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* mission display */

.mission_display {
  background: linear-gradient(106.51deg, #ae67fa 5.45%, #f49867 100%);
  height: 40%;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 99;
}

.mission_content {
  text-align: center;
  display: flex;
  flex-flow: column;
  gap: 0.2rem;
}

.mission_stats {
  display: flex;
  justify-content: space-around;
}

/* timer and action buttons */

.timer_action_buttons {
  background-color: #1e1e1e;
  height: 20%;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  color: #aaa;
}

.timer_action_buttons img {
  position: absolute;
  width: 7.5%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 20%;
}

.action_buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

/* shared experience prompt */

.shared_experience_prompt {
  background-color: #222222;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 1rem 2rem 0.5rem;
  height: 20%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.shared_experience_prompt article {
  display: flex;
}

.shared_experience_prompt svg {
  width: 5rem;
}

.shared_experience_prompt small {
  color: #aaaaaa;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-grow: 1;
    width: 84vw;
  }
}
